<a href="https://colab.research.google.com/github/AureliaWambui19/PARISELECTRICCAR/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_09_AURELIA_WAMBUI_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
# Importing the libraries we will need for this project

# Importing the pandas library

import pandas as pd

# Importing the numpy library

import numpy as np

In [125]:
# loading dataset for use in this project
PARISCARS = pd.read_csv("PARISCARS.csv")

In [126]:
# previewing my dataset
# previewing the first 4 entries
PARISCARS.head(4)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3            51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37

[4 rows x 25 columns]

In [127]:
# checking info on the dataset
PARISCARS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

dataset cleaning

uniformity

In [128]:
# columns are in both lower and upper cases
# to make them uniform one can decide to make them all in one case,
#n my  case i will make all of them to be in Upper case
PARISCARS.columns = map(str.upper, PARISCARS.columns)

In [129]:
#previewing to check on the renaming of columns to upper case
PARISCARS.tail(1)

                  ADDRESS  CARS  BLUECAR COUNTER  ...  DAY  HOUR  MINUTE
4999  5 Rue Henry Brisson     4                4  ...    8    10       2

[1 rows x 25 columns]

consistency

In [130]:
# Identification of  which observations are duplicates
PARISCARS.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [131]:
# Drop duplicates
PARISCARS.drop_duplicates()

                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

validity

In [132]:
# Example 1: Irrelevant Data

# Procedure 1: Irrelevant Observation
# Data Cleaning Action: Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem

PARISCARS.drop([ 'DISPLAYED COMMENT', 'ID', 'GEO POINT','ADDRESS','SCHEDULED AT'], axis = 1, inplace = True)

  
# Display the resulting dataframe
PARISCARS.head(1)

   CARS  BLUECAR COUNTER  UTILIB COUNTER  ...  DAY  HOUR MINUTE
0     0                0               0  ...    8    11     43

[1 rows x 20 columns]

completeness

In [133]:
# Checking if there is any missing value across each column
PARISCARS.isnull().any()

CARS                   False
BLUECAR COUNTER        False
UTILIB COUNTER         False
UTILIB 1.4 COUNTER     False
CHARGE SLOTS           False
CHARGING STATUS        False
CITY                   False
KIND                   False
POSTAL CODE            False
PUBLIC NAME            False
RENTAL STATUS          False
SLOTS                  False
STATION TYPE           False
STATUS                 False
SUBSCRIPTION STATUS    False
YEAR                   False
MONTH                  False
DAY                    False
HOUR                   False
MINUTE                 False
dtype: bool

In [134]:
# Getting a total count of missing values
# 
print(PARISCARS.isnull().sum().sum())

0

Accuracy

In [ ]:

# Procedure 1: None
# Data Cleaning Action:None

In [165]:

# checking when cars were picked
PARISCARS[PARISCARS['RENTAL STATUS']=='operational']

      CARS  BLUECAR COUNTER  UTILIB COUNTER  ...  DAY  HOUR MINUTE
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
2        3                3               0  ...    3    20     14
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
...    ...              ...             ...  ...  ...   ...    ...
4995     2                2               0  ...    6    11     26
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4998     2                2               0  ...    4    17     27
4999     4                4               0  ...    8    10      2

[4618 rows x 20 columns]

Analysis

In [136]:
# checking when cars were returned
PARISCARS[PARISCARS['RENTAL STATUS']=='nonexistent']

      CARS  BLUECAR COUNTER  UTILIB COUNTER  ...  DAY  HOUR MINUTE
2038     0                0               0  ...    9     2      2
3985     0                0               0  ...    2    13     28
4053     0                0               0  ...    4     5      1

[3 rows x 20 columns]

In [178]:
# checking picked cars where the city is paris
filterinfDataframe = PARISCARS[(PARISCARS['CITY'] == 'Paris') & (PARISCARS['RENTAL STATUS'] == 'operational') ]
filterinfDataframe

      CARS  BLUECAR COUNTER  UTILIB COUNTER  ...  DAY  HOUR MINUTE
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
5        0                0               0  ...    6     7      2
...    ...              ...             ...  ...  ...   ...    ...
4992     0                0               0  ...    9    23      1
4994     0                0               0  ...    1    20     49
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4999     4                4               0  ...    8    10      2

[2629 rows x 20 columns]

In [179]:
# checking most popular hour wheb blue car is picked
filterinfDataframe = PARISCARS[(PARISCARS['CITY'] == 'Paris') & (PARISCARS['RENTAL STATUS'] == 'operational') ].max()
filterinfDataframe

CARS                                    7
BLUECAR COUNTER                         7
UTILIB COUNTER                          2
UTILIB 1.4 COUNTER                      3
CHARGE SLOTS                            2
CHARGING STATUS               operational
CITY                                Paris
KIND                              STATION
POSTAL CODE                         75116
PUBLIC NAME            Paris/Ãvangile/45
RENTAL STATUS                 operational
SLOTS                                   7
STATION TYPE                      station
STATUS                                 ok
SUBSCRIPTION STATUS           operational
YEAR                                 2018
MONTH                                   4
DAY                                     9
HOUR                                   23
MINUTE                                 59
dtype: object